@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Chivo', sans-serif;
}
.navbar{
    background-color: #ECECEC;
}
.container-fluid img{
    width: 50%;
}
.nav-link{
  font-size: 1.2rem;
  margin-left: 3rem;
}
#btn1{
    margin-left: 3rem;
    background-color: #008753;
    width: 7rem;
    color: white;
    border-radius: 0.5rem;
}
.create{
    font-size: 40px;
    padding-top: 200px;
    color: rgb(201, 197, 197);
}
.box2{
    margin-top: 2.5rem;
}
.section1 h2{
    color: white; 
    letter-spacing: 0.25rem; 
    margin-top: 3rem;
}
.section1{
   padding: 7rem 11rem;
}
#btn{
    background-color: #FE9C0A;
    margin-left: -4.8rem;
    height: 2.54rem;
}
.container1{
    display: flex;
    width: 90%;
    margin: 4rem 0 0;
    justify-content: center;
}
.textbox1{
    padding-top: 2rem;
    flex-basis: 60%;   
}
.textbox1 h3{
    color: #008753;
}
.text-box1 img{
    height: 300px;
    width: 300px;
}
@media screen and (max-width: 575px)
{
    .container1{
        flex-direction: column;
    }
    .section1{
       width: 50%;
    }
    #position{
        width: 17rem;
    }
    #btn{
        margin-left: 12.5rem;
        margin-top: -4rem;
    }
    .for-p{
        padding-top: 50px;
    }
}
.flex-card{
    border: none;
    border-radius: 0.5rem;
}
.green-heading{
    color: #008753;
}
.card-text{
    font-size: 18px;
}
.bg-success{
    width: 100%;
    overflow-x: scroll;
}
img{
    z-index: 4;
}
.box-img{
    border-radius: 0.4rem;
}
.footer{
    background: rgba(0, 135, 83, 0.05);
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}
.my-li{
    text-decoration: none;
}
@media screen and (max-width: 700px){
    .screen{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}
.tools{
    background: #e5e5e5;
}
.for-p{
    padding-top: 150px;
}
.buttoned{
    border: none;
    background: #FFFDFD;
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}
header{
    background: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url("/images/Asorock.jpg");
    background-position: center;
    background-size: cover;
    height: 70vh;
}
.reps{
    border-radius: 25px;
}